<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sipuang.xianyitong.system.mapper.UserMapper">

    <insert id="insertRoles">
        insert into sys_user_ref_role(user_id, role_id) values
        <foreach collection="roleIds" item="roleId" open="(" separator="," close=")">
            #{id},#{roleId}
        </foreach>
    </insert>
</mapper>