<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sipuang.xianyitong.mapper.RoleMapper">

    <insert id="insertResources">
        insert into t_role_ref_resource(role_id, resource_id) values
        <foreach collection="resourceIds" item="resourceId" open="(" separator="," close=")">
            #{roleId},#{resourceId}
        </foreach>
    </insert>
</mapper>